<h1>Update Song</h1>
<h2>Edit for <%= @song.name %></h2>
<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit the Song's Name:</label>

  <br>

  <input type="text" id="Name" name="song_name" value="<%= @song.name %>">

  <h3>Select or deselect Song's Genres:</h3>
  <% @genres.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %><br>
  <% end %>
  <br>

  <h3>Artist: </h3>
  <label>Edit Artist Name: </label>
  <br>
  <input type="text" id="Artist Name" name="artist_name" value="<%= @song.artist.name %>">
  <br><br>

  <input type="submit" value="Save">
</form>