<h2> Edit Song</h2>

<strong>Current Title:</strong> <%= @song.name %><br>
<strong>Current Artist:</strong> <%= @song.artist.name %>

<h2>New Details</h2>
<form method="post" action="/songs/<%= @song.slug %>">
  <input type="hidden" name="_method" value="patch">
  <label for="artist_name"><strong>New Artist Name </strong></label>
  <input id="artist_name" type="text" name="artist_name" value="<%= @song.artist.name %>"><br>
  <label for="song_name"><strong>New Song Name </strong></label>
  <input id="song_name" type="text" name="song_name" value="<%= @song.name %>"><br>

  <h3>Genres</h3>
  <% Genre.all.each do |genre| %>
  <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"
    <%='checked' if @song.genres.include?(genre) %>><%= genre.name.titleize %><br>
  <% end %>

  <p><input type="submit" value="Save"></p>
</form>